<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <link href="/assets/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/jquery-3.6.0.js"></script>
    <script src="/assets/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/sweetalert2.js"></script>
</head>
<body>
<div class="" style="padding: 25px;">

    <header>
        <form>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="userName">userName</label>
                        <input type="text" class="form-control" id="userName">
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input type="number" class="form-control" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="address">address</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <img id ="img-image" style="width: 108px" class="rounded img-lg mb-2" src="https://cdn.fakercloud.com/avatars/alan_zhang__128.jpg" alt="">
                        <input type="url" name="image" id="image" class="form-control">
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label for="role">IsAdmin</label>
                            <select id="role" class="select form-control">
                            </select>
                        </div>
                        <div class="col-8">
                            <label for="salary">salary</label>
                            <input type="number" class="form-control" id="salary">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="btnCreate" class="btn btn-primary">Create user</button>
        </form>
    </header>

    <div class="modal-content" style="border: 0; margin-top: 25px;">
        <table class="table table-hover">
            <thead style="background-color: #2a9d05; color: #fff;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">UserName</th>
                <th scope="col">phone</th>
                <th scope="col">createAt</th>
                <th scope="col">status</th>
                <th scope="col">salary</th>
                <th scope="col">role</th>
                <th colspan="3" scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="tbListUser">
            </tbody>
        </table>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal update user information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="nameE">Name</label>
                                <input type="text" class="form-control" id="nameE">
                            </div>
                            <div class="form-group">
                                <<label for="userNameE">userName</label>
                                <input type="text" class="form-control" id="userNameE">
                            </div>
                            <div class="form-group">
                                <label for="passwordE">password</label>
                                <input type="password" class="form-control" id="passwordE">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="phoneE">phone</label>
                                <input type="number" class="form-control" id="phoneE">
                            </div>
                            <div class="form-group">
                                <label for="emailE">email</label>
                                <input type="email" class="form-control" id="emailE">
                            </div>
                            <div class="form-group">
                                <label for="addressE">address</label>
                                <input type="text" class="form-control" id="addressE">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <img id ="img-imageE" style="width: 108px" class="rounded img-lg mb-2" src="https://cdn.fakercloud.com/avatars/alan_zhang__128.jpg" alt="">
                                <input type="url" name="image" id="imageE" class="form-control">
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label for="roleE">IsAdmin</label>
                                    <select id="roleE" class="select form-control">
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="salaryE">salary</label>
                                    <input type="number" class="form-control" id="salaryE">
                                </div>
                                <div class="custom-control custom-checkbox mb-3 col-3">
                                    <input type="checkbox" class="custom-control-input" id="status" name="status">
                                    <label class="custom-control-label" for="status">Status</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnUpdate" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/page/js/app.js"></script>

<script>

    let user = new User();
    let role = new Role();

    $("#btnCreate").on("click", function () {
        createUser();
    })

    $("#btnUpdate").on("click", function () {
        updateUser();
    })

    function handleDelete() {
        $("table tbody tr").on("click", ".delete", function () {
            let id = $(this).data("id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        headers: {
                            'Accept':'application/json',
                            'Content-Type':'application/json'
                        },
                        url: "/api/users/delete/" + id,
                        type: "GET"
                    }).done(function (resp) {

                        console.log(resp)

                        if (resp === true) {

                            $("#tr_" + id).remove();

                            Swal.fire(
                                'Deleted!',
                                'This user has been deleted.',
                                'success'
                            )
                        } else {
                            alert("UnSuccess deleted")
                        }

                    }).fail(function () {
                        alert("UnSuccess deleted 2")
                    });

                }
            })

        });
    }

    function handleEdit() {
        $("table tbody tr").on("click", ".edit", function () {
            let id = $(this).data("id");

            console.log("id = " + id)

            $.ajax({
                headers: {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
                url: "/api/users/" + id,
                type: "GET"
            }).done(function (resp) {

                $("#idUp").val(resp.id);
                $("#fullNameUp").val(resp.fullName);
                $("#emailUp").val(resp.email);
                $("#phoneUp").val(resp.phone);
                $("#balanceUp").val(resp.balance);
                $("#provinceUp").val(resp.provinceId);

                getAllDistricts(resp.provinceId).then(function () {
                    $("#districtUp").val(resp.districtId);

                    getAllWards(resp.districtId).then(function () {
                        $("#wardUp").val(resp.wardId);
                    });
                });

            }).fail(function () {
                alert("ERROR")
            });
        })
    }

    function createUser() {

        user.name = $("#name").val();
        user.userName = $("#userName").val();
        user.phone = $("#phone").val();
        user.email = $("#email").val();
        user.image = $("#image").val();
        user.salary = $("#salary").val();
        user.password = $("#password").val();
        user.address = $("#address").val();

        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/users/create",
            type: "POST",
            data: JSON.stringify(user)

        }).done(function (resp) {

            console.log(resp)

            let str = '';

            str = `
                    <tr id="tr_${resp.id}">
                            <th scope="row">${resp.id}</th>
                            <td>${resp.name}</td>
                            <td>${resp.userName}</td>
                            <td>${resp.phone}</td>
                            <td>${moment(resp.createdAt).format("YYYY-MM-DD")}</td>
                             <td><span class="badge ${resp.delete ? 'bg-success' : 'bg-warning'}">${resp.delete ? 'active' : 'inactive'}</span></td>
                            <td>${resp.salary}</td>
                            <td>${resp.role}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary edit"
                                    data-id="${resp.id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger delete" data-id="${resp.id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>
                            <td type="button" class='btn ${resp.delete ? 'btn-warning' : 'btn-secondary'} btn-sm'
                            title='${resp.delete ? 'inactive' : 'active'} employee' >
                                <i class='fa ${item.delete ? 'fa-lock' : 'fa-unlock'}'></i>
                            </td>

                        </tr>
                `;

            $("#tbListUser").prepend(str);

            handleEdit();

            handleDelete();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function updateUser() {

        user.id = $("#idUp").val();
        user.fullName = $("#fullNameUp").val();
        user.email = $("#emailUp").val();
        user.phone = $("#phoneUp").val();
        user.balance = $("#balanceUp").val();
        user.provinceId = $("#provinceUp").val();
        user.provinceName = $("#provinceUp :selected").text();
        user.districtId = $("#districtUp").val();
        user.districtName = $("#districtUp :selected").text();
        user.wardId = $("#wardUp").val();
        user.wardName = $("#wardUp :selected").text();

        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: "/api/users/update",
            type: "POST",
            data: JSON.stringify(user)
        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="tr_${resp.id}">
                        <th scope="row">${resp.id}</th>
                        <td>${resp.fullName}</td>
                        <td>${resp.balance}</td>
                        <td>${resp.provinceName}</td>
                        <td>${resp.districtName}</td>
                        <td>${resp.wardName}</td>
                        <td>${resp.phone}</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary edit"
                                data-id="${resp.id}"
                            >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger delete" data-id="${resp.id}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                `;

            $("#tr_"+ resp.id).replaceWith(str);

            $("#updateModal").modal('hide');

            handleEdit();

            handleDelete();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function getListUser() {
        $.ajax({
            url: "/api/users",
            type: "GET"
        }).done(function (resp) {

            let str = '';

            $.each(resp, function(index, item) {
                str = `
                        <tr id="tr_${item.id}">
                            <th scope="row">${item.id}</th>
                            <td>${item.name}</td>
                            <td>${item.userName}</td>
                            <td>${item.phone}</td>
                            <td>${moment(item.createdAt).format("YYYY-MM-DD")}</td>
                             <td><span class="badge ${item.delete ? 'bg-success' : 'bg-warning'}">${item.delete ? 'active' : 'inactive'}</span></td>
                            <td>${item.salary}</td>
                            <td>${item.role}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-outline-primary edit"
                                    data-id="${item.id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger delete" data-id="${item.id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>
                            <td type="button" class='btn ${item.delete ? 'btn-warning' : 'btn-secondary'} btn-sm'
                            title='${item.delete ? 'inactive' : 'active'} employee' >
                                <i class='fa ${item.delete ? 'fa-lock' : 'fa-unlock'}'></i>
                            </td>

                        </tr>
                    `;

                $("#tbListUser").prepend(str);
            });

            handleEdit();

            handleDelete();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function getListRole(){
        $.ajax({
            url:"/api/role",
            type: "GET"
        }).done(function (resp) {
            let str = ""

            $.each(resp, function(index, item) {
                str = `
                        <option value="${item.id}">${item.name}</option>
                    `;
                $("#role").append(str);
                $("#roleE").append(str);
            })
        }).fail(function () {
            alert("ERROR")
        });
    }

    $(document).ready(function () {
        getListUser();
        getListRole();
    });

</script>
<script src="/assets/libs/moment/moment.min.js"></script>

</body>
</html>