<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of product</title>
    <link href="/assets/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/jquery-3.6.0.js"></script>
    <script src="/assets/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/sweetalert2.js"></script>
</head>
<body>
<div class="container">
    <div class="" style="float: left; width: 50%">
        <div><span>Category</span></div>
        <div class="" style="padding: 25px;">
            <header>
                <form>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="nameCategory">Name Category</label>
                            <input type="text" class="form-control" id="nameCategory">
                        </div>
                        <div class="col-6">
                            <label for="nameCategory">&nbsp;</label>
                            <button type="button" id="btnCreateCategory" class="form-control btn btn-primary">Create category</button>
                        </div>
                    </div>
                </form>
            </header>
            <div class="modal-content" style="border: 0; margin-top: 25px;">
                <table class="table table-hover">
                    <thead style="background-color: #2a9d05; color: #fff;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th colspan="2" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="tbListProductCategory">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModalCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal update category information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="idUp">ID</label>
                                    <input type="text" class="form-control" id="idUp" readonly>
                                </div>
                                <div class="col-8">
                                    <label for="nameUp">Name</label>
                                    <input type="text" class="form-control" id="nameUp">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="btnUpdateCategory" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="" style="float: left;width: 50%">
        <div><span>Company</span></div>
        <div class="" style="padding: 25px;">

            <header>
                <form>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="nameCompany">Name</label>
                            <input type="text" class="form-control" id="nameCompany">
                        </div>
                        <div class="col-6">
                            <label >&nbsp;</label>
                            <button type="button" id="btnCreateCompany" class="form-control btn btn-primary">Create company</button>
                        </div>
                    </div>
                </form>
            </header>
            <div class="modal-content" style="border: 0; margin-top: 25px;">
                <table class="table table-hover">
                    <thead style="background-color: #2a9d05; color: #fff;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th colspan="2" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="tbListCompany">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModalCompany" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelCompany">Modal update company information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="idE">ID</label>
                                    <input type="text" class="form-control" id="idE" readonly>
                                </div>
                                <div class="col-8">
                                    <label for="nameE">Name</label>
                                    <input type="text" class="form-control" id="nameE">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="btnUpdateCompany" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/assets/page/js/app.js"></script>
<script>

    let api_category = "https://618015b98bfae60017adf995.mockapi.io/category";
    let api_company = "https://618015b98bfae60017adf995.mockapi.io/company";

    let company = new Company();
    let category = new Category();

    $("#btnCreateCategory").on("click", function () {
        createCategory();
    })

    $("#btnUpdateCategory").on("click", function () {
        updateCategory();
    })

    $("#btnCreateCompany").on("click", function () {
        createCompany();
    })

    $("#btnUpdateCompany").on("click", function () {
        updateCompany();
    })

    function handleDeleteCategory() {
        $("table tbody tr").on("click", ".delete", function () {
            let id = $(this).data("id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        headers: {
                            'Accept':'application/json',
                            'Content-Type':'application/json'
                        },
                        url: api_category + "/" + id,
                        type: "DELETE"
                    }).done(function (resp) {

                        console.log(resp);
                            console.log(id);

                            $("#tr_" + id).remove();

                            Swal.fire(
                                'Deleted!',
                                'This product has been deleted.',
                                'success'
                            )

                    }).fail(function () {
                        alert("UnSuccess deleted 2")
                    });

                }
            })

        });
    }

    function handleEditCategory() {
        $("table tbody tr").on("click", ".edit", function () {

            let id = $(this).data("id");
            console.log("id = " + id)

            $.ajax({
                headers: {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
                url: api_category + "/" + id,
                type: "GET"
            }).done(function (resp) {
                $("#idUp").val(resp.category_id);
                $("#nameUp").val(resp.category_name);

            }).fail(function () {
                alert("ERROR")
            });
        })
    }

    function createCategory() {

        category.category_name = $("#nameCategory").val();
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: api_category,
            type: "POST",
            data: JSON.stringify(category)

        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="tr_${resp.category_id}">
                            <th scope="row">${resp.category_id}</th>
                            <td>${resp.category_name}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModalCategory" class="btn btn-outline-primary edit"
                                    data-id="${resp.category_id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger delete" data-id="${resp.category_id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>

                        </tr>
                `;
            $("#tbListProductCategory").prepend(str);

            handleEditCategory();

            handleDeleteCategory();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function updateCategory() {
        let id = $("#idUp").val();
        console.log(id)

        category.category_id = $("#idUp").val();
        category.category_name = $("#nameUp").val();

        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: api_category+ "/" + id,
            type: "PUT",
            data: JSON.stringify(category)
        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="tr_${resp.category_id}">
                        <th scope="row">${resp.category_id}</th>
                        <td>${resp.category_name}</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#updateModalCategory" class="btn btn-outline-primary edit"
                                data-id="${resp.category_id}"
                            >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger delete" data-id="${resp.category_id}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </button>
                        </td>

                    </tr>
                `;

            $("#tr_"+ category.category_id).replaceWith(str);
            $("#updateModalCategory").modal('hide');

            handleEditCategory();

            handleDeleteCategory();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function handleDeleteCompany() {
        $("table tbody tr").on("click", ".deleteCompany", function () {
            let id = $(this).data("id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        headers: {
                            'Accept':'application/json',
                            'Content-Type':'application/json'
                        },
                        url: api_company + "/" + id,
                        type: "DELETE"
                    }).done(function (resp) {

                        console.log(resp);
                        console.log(id);

                        $("#trC_" + id).remove();

                        Swal.fire(
                            'Deleted!',
                            'This product has been deleted.',
                            'success'
                        )

                    }).fail(function () {
                        alert("UnSuccess deleted 2")
                    });

                }
            })

        });
    }

    function handleEditCompany() {
        $("table tbody tr").on("click", ".editCompany", function () {

            let id = $(this).data("id");
            console.log("id = " + id)

            $.ajax({
                headers: {
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
                url: api_company + "/" + id,
                type: "GET"
            }).done(function (resp) {
                $("#idE").val(resp.company_id);
                $("#nameE").val(resp.company_name);

            }).fail(function () {
                alert("ERROR")
            });
        })
    }

    function createCompany() {

        company.company_name = $("#nameCompany").val();
        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: api_company,
            type: "POST",
            data: JSON.stringify(company)

        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="trC_${resp.company_id}">
                            <th scope="row">${resp.company_id}</th>
                            <td>${resp.company_name}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModalCompany" class="btn btn-outline-primary editCompany"
                                    data-id="${resp.company_id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger deleteCompany" data-id="${resp.company_id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>

                        </tr>
                `;
            $("#tbListCompany").prepend(str);

            handleEditCompany();

            handleDeleteCompany();

        }).fail(function () {
            alert("ERROR")
        });
    }

    function updateCompany() {
        let id = $("#idE").val();
        console.log(id)

        company.company_id = $("#idE").val();
        company.company_name = $("#nameE").val();

        $.ajax({
            headers: {
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            url: api_company+ "/" + id,
            type: "PUT",
            data: JSON.stringify(company)
        }).done(function (resp) {

            let str = '';

            str = `
                    <tr id="trC_${resp.company_id}">
                        <th scope="row">${resp.company_id}</th>
                        <td>${resp.company_name}</td>
                        <td>
                            <button type="button" data-toggle="modal" data-target="#updateModalCategory" class="btn btn-outline-primary edit"
                                data-id="${resp.company_id}"
                            >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger deleteCompany" data-id="${resp.company_id}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Delete
                            </button>
                        </td>

                    </tr>
                `;

            $("#tr_"+ company.company_id).replaceWith(str);

            $("#updateModalCompany").modal('hide');

            handleDeleteCompany();
            getListCompany();
            handleEditCompany();

        }).fail(function () {
            alert("ERROR")
        });
    }


    function getListCategory() {
        $.ajax({
            url: api_category,
            type: "GET"
        }).done(function (resp) {

            let str = '';

            $.each(resp, function(index, item) {
                str = `
                        <tr id="tr_${item.category_id}">
                            <th scope="row">${item.category_id}</th>
                            <td>${item.category_name}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModalCategory" class="btn btn-outline-primary edit"
                                    data-id="${item.category_id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger delete" data-id="${item.category_id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>

                        </tr>
                    `;
                $("#tbListProductCategory").prepend(str);
            });

            $("#updateModalCategory").modal('hide');

            handleEditCategory();

            handleDeleteCategory();

        }).fail(function () {
            alert("ERROR")
        });
    }
    function getListCompany() {
        $.ajax({
            url: api_company,
            type: "GET"
        }).done(function (resp) {

            let str = '';

            $.each(resp, function(index, item) {
                str = `
                        <tr id="trC_${item.company_id}">
                            <th scope="row">${item.company_id}</th>
                            <td>${item.company_name}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#updateModalCompany" class="btn btn-outline-primary editCompany"
                                    data-id="${item.company_id}"
                                >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger deleteCompany" data-id="${item.company_id}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Delete
                                </button>
                            </td>

                        </tr>
                    `;
                $("#tbListCompany").prepend(str);
            });

            $("#updateModalCompany").modal('hide');

            handleEditCompany();

            handleDeleteCompany();

        }).fail(function () {
            alert("ERROR")
        });
    }


    $(document).ready(function () {
        getListCategory();
        getListCompany();
    });

</script>

</body>
</html>